<section id="faq">
    <div class="cs-height_290 cs-height_lg_150"></div>
    <div class="container">
      <div class="cs-seciton_heading cs-style1 wow fadeInUp col-md-10 mx-auto" data-wow-duration="1s" data-wow-delay="0.2s">
        <h3 class="cs-section_title cs-font_16 cs-font_14_sm cs-gradient_color">{{page.faq.title}}</h3>
        <h2 class="cs-section_subtitle cs-m0 cs-font_36 cs-font_24_sm">{{page.faq.intro}}</h2>
      </div>
      <div class="cs-height_50 cs-height_lg_30"></div>
      <div class="row cs-accordians cs-style1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
        <div class="col-lg-12">
          <div class="cs-accordian cs-light_bg active">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title cs-m0 cs-font_24 cs-font_18_sm">{{page.faq.list_active.q}}</h2>
              <span class="cs-accordian_toggle"></span>
            </div>
            <div class="cs-accordian-body"><div class="p-3 p-md-5">{{page.faq.list_active.a}}</div></div>
          </div>		  
		{% for qa in page.faq.list %}
		<div class="cs-height_25 cs-height_lg_25"></div>
          <div class="cs-accordian cs-light_bg">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title cs-m0 cs-font_24 cs-font_18_sm">{{qa.q}}</h2>
              <span class="cs-accordian_toggle"></span>
            </div>
            <div class="cs-accordian-body"><div class="p-3 p-md-5">{{qa.a}}</div></div>
          </div>
		  {% endfor %}
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>
      </div>
    </div>
</section>