<section>
    <div class="container">
      <div class="row">
	  
        <div class="col-lg-3 col-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="cs-iconbox cs-style1 cs-light_bg">
            <h4 class="cs-iconbox_icon cs-color1 rounder"><img class="img-fluid" alt="{{page.features.list1.title}}" src="{{page.features.list1.icon}}"/></h4>
            <div class="cs-height_20 cs-height_lg_20"></div>
            <h3 class="cs-iconbox_title cs-font_24 cs-font_16_sm cs-m0"><a href="{{page.url}}">{{page.features.list1.title}}</a></h3>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-iconbox_subtitle">{{page.features.list1.text}}</div>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>
		
        <div class="col-lg-3 col-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
          <div class="cs-iconbox cs-style1 cs-light_bg">
            <h4 class="cs-iconbox_icon cs-color1 rounder"><img class="img-fluid" alt="{{page.features.list2.title}}" src="{{page.features.list2.icon}}"/></h4>
            <div class="cs-height_20 cs-height_lg_20"></div>
            <h3 class="cs-iconbox_title cs-font_24 cs-font_16_sm cs-m0"><a href="{{page.url}}">{{page.features.list2.title}}</a></h3>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-iconbox_subtitle">{{page.features.list2.text}}</div>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>
		
        <div class="col-lg-3 col-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
          <div class="cs-iconbox cs-style1 cs-light_bg">
            <h4 class="cs-iconbox_icon cs-color1 rounder"><img class="img-fluid" alt="{{page.features.list3.title}}" src="{{page.features.list3.icon}}"/></h4>
            <div class="cs-height_20 cs-height_lg_20"></div>
            <h3 class="cs-iconbox_title cs-font_24 cs-font_16_sm cs-m0"><a href="{{page.url}}">{{page.features.list3.title}}</a></h3>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-iconbox_subtitle">{{page.features.list3.text}}</div>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>
		
        <div class="col-lg-3 col-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="cs-iconbox cs-style1 cs-light_bg">
            <h4 class="cs-iconbox_icon cs-color1 rounder"><img class="img-fluid" alt="{{page.features.list4.title}}" src="{{page.features.list4.icon}}"/></h4>
            <div class="cs-height_20 cs-height_lg_20"></div>
            <h3 class="cs-iconbox_title cs-font_24 cs-font_16_sm cs-m0"><a href="{{page.url}}">{{page.features.list4.title}}</a></h3>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-iconbox_subtitle">{{page.features.list4.text}}</div>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
        </div>
		
      </div>
    </div>
</section>
<div class="cs-height_20 cs-height_lg_25"></div>