<section class="cs-style1 col-md-8 mx-auto p-3 p-md-5" id="home">
    <div class="cs-dark_overlay"></div>
    <div class="container">
      <div class="cs-hero_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.35s">
        <h1 class="cs-hero_title cs-font_64 cs-font_36_sm cs-bold mt-5"><a href="{{page.url}}" title="{{page.title}}">{{page.title}}</a></h1>
        <h2 class="cs-hero_secondary_title cs-font_24 cs-font_18_sm mt-3">{{page.description}}</h2>
        <div class="cs-btn_group mt-3">
          <a href="{{page.button1.link}}" class="cs-btn cs-btn_filed cs-accent_btn cs-smoth_scroll"><span>{{page.button1.text}}</span></a>
          <a href="{{page.button2.link}}" class="cs-btn cs-color1 cs-smoth_scroll"><span>{{page.button2.text}}</span></a>
        </div>
      </div>
    </div>
</section>