<div class="cs-height_65 cs-height_lg_35"></div>
<section id="dashboard">
    <div class="container mt-5">
      <div class="cs-seciton_heading cs-style1 col-md-10 mx-auto wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
        <h3 class="cs-section_title cs-font_16 cs-font_14_sm cs-gradient_color">{{page.section.intro}}</h3>
        <h2 class="cs-section_subtitle cs-m0 cs-font_36 cs-font_24_sm"><a href="{{page.url}}" title="{{page.section.title}}">{{page.section.title}}</a></h2>
      </div>	  
      <div class="cs-height_50 cs-height_lg_30"></div>
      <div class="row wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
       <div class="col-md-12 p-3 p-md-5">
         <div class="cs-iconbox cs-style1 cs-light_bg">
			<pre><code>
{% include code/dashboard.html %}
			</code></pre>
          </div>
        </div>
      </div>
   </div>
</section>